<h1>Email reset</h1>

<p>To reset your password click the link below:</p>

<%= link_to 'Complete change email', edit_email_reset_url(@user.id, email: @user.changed_email, reset_token: @user.reset_token) %>

<p>This link will expire in two hours.</p>

<p>
  If you did not request your password to be reset, please ignore this email and
  your password will stay as it is.
</p>